<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="css/style.css">

    {{>headerlinks}}
</head>
<body>
    <!--------  Main Header --------->
    {{>navbar}}
    <!--------  ! Main Header --------->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!---Right side div-->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="https://picsum.photos/id/237/500/300" alt=""/>
                        </figure>
                    </div>
                    <!---Left side div-->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>Get the weather info of your city</h1>
                        <a href="/weather"><button>Check now</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {{>footer}}

</body>
</html>